@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Open+Sans:300,400,700,800);body,
html {
  font-family: "Open Sans", sans-serif;
}

/**
 * Forms styles
 */

.static h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #444;
}

.static label {
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #646464;
}

.static .form-control {
  font-size: .8rem;
  border-radius: 1px;
  border: 1px solid #888;
  text-transform: uppercase;
}

.static p {
  font-size: .8rem;
}

.static .alert-danger {
  font-family: "Montserrat", sans-serif;
  font-size: .8rem;
  font-weight: 700;
}

.static .alert-danger ul {
  font-size: .8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

