
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Open+Sans:300,400,700,800');

// Variables
@import 'variables';

body, html {
	font-family: $font-family-sans-serif;
}

/**
 * Forms styles
 */
.static {
	h3 {
		font-family: $font-family-titles;
		font-size: 1.8rem;
		font-weight: 700;
		color: #444;
	}

	label {
		font-size: .8rem;
		font-weight: 700;
		text-transform: uppercase;
		color: #646464;
	}

	.form-control {
		font-size: .8rem;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		border: 1px solid #888;
		text-transform: uppercase;
	}

	p {
		font-size: .8rem;
	}

	.alert-danger {
		font-family: $font-family-titles;
		font-size: .8rem;
		font-weight: 700;

		ul {
			font-size: .8rem;
			font-family: $font-family-sans-serif;
			font-weight: 400;
		}
	}
}
